.homecontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.text {
  flex: 1;
  margin-right: 10px;
}

.image-wrapper {
  flex: 1;
  max-width: 50%;
  height: auto;
  margin-left: 10px;
}

.header-wrapper {
  text-align: center;
  padding-bottom: 1rem;
}

.image {
  width: 100%;
  height: auto;
}
.image2 {
  width: 70%;
  height: auto;
}
.start-button {
  color: #fff;
  background-color: #1500B3;
  display: block;
  margin: 10 auto;
}
.link-home {

  color: green;
  background-color: transparent;
  text-decoration: none;
}